<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{form_start(form)}}
        {{form_row(form.nom)}}
        {{form_row(form.numero)}}
        {{form_row(form.lienLogo)}}
        {{form_row(form.objet)}}
        {{form_row(form.siegeSocial)}}
        {{form_row(form.dateCreation)}}
        {{form_row(form.recipisse)}}
        
        <input type="submit" value="Créer">
    {{form_end(form)}}
</body>
</html>