{% extends 'base.html.twig' %}

{% block title %}Hello ActiviteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {# This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/YAMJK 1er/Desktop/Projets/Kernumeric/Kernumeric/Code/Kernumeric/src/Controller/ActiviteController.php'|file_link(0) }}">src/Controller/ActiviteController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/YAMJK 1er/Desktop/Projets/Kernumeric/Kernumeric/Code/Kernumeric/templates/activite/index.html.twig'|file_link(0) }}">templates/activite/index.html.twig</a></code></li>
    </ul> #}

    <h2>Listes des activités</h2>

    <table border='1'>
        <thead>
            <td>Intitule</td>
            <td>Date de debut</td>
            <td>Date de fin prévisionnelle</td>
            <td>Date de fin effective</td>
            <td>Statut</td>
            <td>Options</td>
        </thead>

        <tbody>
            {% for activite in activites %}
                <tr>
                    <td>{{activite.intitule}}</td>
                    <td>{{activite.debut|date('d-m-Y')}}</td>
                    <td>{{activite.fin|date('d-m-Y')}}</td>
                    <td>{% if activite.finReel %}{{activite.finReel|date('d-m-Y')}} {% else %}---{% endif %}</td>
                    <td>{% if activite.statut %}Terminée {% else %}Non terminée{% endif %}</td>
                    <td><a href="{{path('DetailsActivite' , {id : activite.id})}}">Details</a> <a href="{{ path('UpdateActivite' , {id : activite.id}) }}">Update</a> <a href="{{ path('DeleteActivite' , {id : activite.id})}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p align='center'><a href="{{ path ('AddActivite')}}"><button>Add activite</button></a></p>
</div>
{% endblock %}
